<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meet.admin.mapper.MtUserInfoMapper">

    <resultMap id="BaseResultMap" type="com.meet.entity.MtUserInfo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="description" property="description" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="last_update_date" property="lastUpdateDate" />
        <result column="last_update_by" property="lastUpdateBy" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="birthday" property="birthday" />
        <result column="education" property="education" />
        <result column="identity" property="identity" />
        <result column="addres" property="addres" />
        <result column="status" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        a.id, a.user_id, a.description, a.is_deleted, a.create_by, a.create_date,
        a.last_update_date, a.last_update_by, a.name, a.sex, a.phone, a.email,
        a.birthday, a.education, a.identity, a.addres, a.status
    </sql>

    <select id="queryOne" resultType="com.meet.vo.MtUserInfoVo">
        SELECT
        <include refid="Base_Column_List" />,
        b.username
        FROM mt_user_info a
        LEFT JOIN acl_user b ON a.user_id = b.id
        <where>
            <if test="dto.username != null and dto.username != ''">
                b.username = #{dto.username}
            </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.meet.vo.MtUserInfoVo">
        SELECT
        <include refid="Base_Column_List" />,
        b.username
        FROM mt_user_info a
        LEFT JOIN acl_user b ON a.user_id = b.id
    </select>

</mapper>
